#pali{
    border: none;
    padding: 15px;
    color: white;
    background-color: rgb(73, 137, 194);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 20px;
}

#dispari{
    border: none;
    padding: 15px;
    color: white;
    background-color: rgb(90, 145, 79);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 20px;
    margin-top:20px;
    margin-left: 20px;
}